<!-- start page title -->
<app-pagetitle title="Department Information" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<!-- ! end page title -->

<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="text-center my-3">
            <h4 class="mb-3">IRIS Smart Technologies Limited Departments</h4>
            <p class="text-muted mb-4">IRIS Smart Technologies Limited is made up of departments consisting of department leads and team members that help solidify the company's mission and vision.</p>
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <div class="col-12 mb-2 text-end">
                            <a routerLink="/administrator/departmentupdate" type="button" class="btn btn-outline-primary btn-rounded px-3 w-lg">Add New Department</a>
                        </div>
                    </div>
                </div>
                    <div class="table-responsive table-bordered">
                        <table class="table align-middle">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Department Name</th>
                                    <th>Designation Head</th>
                                    <th>Number of staff</th>
                                    <th>Brief Summary</th>
                                </tr>
                            </thead>
                            <tbody class="table-hover">
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Software Department</td>
                                    <td>Joy Kamal</td>
                                    <td>5</td>
                                    <td class="table-light">The Software development team handles building web solution to the company and its clients</td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Software Department</td>
                                    <td>Joy Kamal</td>
                                    <td>5</td>
                                    <td class="table-light">The Software development team handles building web solution to the company and its clients</td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Software Department</td>
                                    <td>Joy Kamal</td>
                                    <td>5</td>
                                    <td class="table-light">The Software development team handles building web solution to the company and its clients</td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Software Department</td>
                                    <td>Joy Kamal</td>
                                    <td>5</td>
                                    <td class="table-light">The Software development team handles building web solution to the company and its clients</td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Software Department</td>
                                    <td>Joy Kamal</td>
                                    <td>5</td>
                                    <td class="table-light">The Software development team handles building web solution to the company and its clients</td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>Software Department</td>
                                    <td>Joy Kamal</td>
                                    <td>5</td>
                                    <td class="table-light">The Software development team handles building web solution to the company and its clients</td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm">Update</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>Software Department</td>
                                    <td>Joy Kamal</td>
                                    <td>5</td>
                                    <td class="table-light">The Software development team handles building web solution to the company and its clients</td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm">Update</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
               
            </div>
        </div>
    </div>
<!-- end row -->