.menu-title {
    color: #202022 !important;
    font-weight: 900 !important;
}

.display{
    display:block
}

.nodisplay{
    display:none
}

// #admin{
//     display:none
// }

// #employee{
//     display:none
// }